body {
  font-family: sans-serif;
}

.navbar {
  background-color: cadetblue;
  margin-bottom: 30px;
}
.navbar .navbar-brand {
  font-size: 24px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: black;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}
