body {
    font-family: sans-serif;
}

.navbar {
    background: red;
    margin-bottom: 30px;
}
.navbar .navbar-brand {
    font-size: 24px;
}
.navbar .navbar-nav .nav-item Link{
    font-size: 18px;
    margin: 0px 10px 0px 10px;
}